
/*a { color: green; }*/

table{
    table-layout: fixed;
    width: 200px;
}

th, td {
    overflow: hidden;
    width: 100px;
    padding: 10px;
    vertical-align: top; /* Add this */
}

.padded { margin:10px; padding:10px; }
