
body {
   /*min-width:1000px;
   width: auto !important;
   width:1000px;*/
   padding: 0;
}

table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    overflow: hidden;
    vertical-align: top;
}

.padded { 
	margin:10px; 
	padding:10px; 
}

.tag_group {
	border: 2px solid;
	border-radius: 6px;
}

input {
	max-width: 100%;
}

.navbar-inner {
	background-image: none;
	border-radius:0;
	background-color: #222222;
	border-width: 0;
	padding: 10px 20px 10px;
}

.navbar .brand {
	text-shadow: none;
	color: #aaaaaa;
	
    padding: 10px 10px 10px;
    margin-left: 0px;
	font-size: 26px;
}

.navbar .nav {
	margin: 0 0 0 0;
}

.navbar .nav>li>a {
	text-shadow:none;
	color:#aaaaaa;
}

.navbar .nav>li>a:hover {
	text-shadow:none;
	color:#aaaaaa;
}

.navbar .nav-right {
	float: right;
	margin-right: 0px;
}

.navbar .nav-left {
	float: left;
}

li {
	padding: 0px 10px 0px;
}

.btn-orange {
    background-color: #faa732;
    *background-color: #f89406;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.btn-orange.disabled,
.btn-orange[disabled] {
  background-color: #f89406;
}

.btn-red {
    background-color: #da4f49;
    *background-color: #bd362f;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
  background-color: #bd362f;
}

.padded_input {
	padding: 5px 5px 5px 30px;
}