

<% if @current_user %>
	<div>
		<%= "Signed in as #{current_user.email}" %> <br />
		<%= link_to "Sign out", "/sign_out" %> <br />
	</div>
<% else %>
	<%= link_to "Sign in", "/sign_in" %>
<% end %>
