{% extends "base.html" %}

{% block content %}

<form action="" method="post" name="tag">
	{{form.hidden_tag()}}
	
	<table>
		<tr>
<!-- 			<td>Add a tag:</td> -->
			<td>
				{{ form.tag(size = 30, maxlength = 30, autofocus=true) }}
				<input type="submit" value="Add">
			</td>
			<td>
				{% for error in form.errors.tag %}
					<span style="color: red;">[{{error}}]</span><br>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</form>

{% for tag in user.ordered_tags() %}
	{% if tag.body != None %}
		{% include 'tag.html' %}
	{% endif %}
{% endfor %}

{% endblock %}