{% extends "base.html" %}

{% block content %}

<div class="grid">
	<div class="row">
		<div class="padded">
		{% for form in tag_forms %}
		<div class="span3">
<!-- 			<div class="row"> -->
				<table>
					<tr>
						<td>
							<strong>{{ form.group_name.data }}</strong>
						</td>
						<td>
							<a style="color: red" href="{{ url_for('remove_group', group_name=form.group_name.data) }}"><button class="btn btn-mini btn-danger">x</button></a>
						</td>
					</tr>
				</table>
			<!-- </div> -->
			<br>
			<div class="row">
				<div class="span3">
					<form action="" method="post" name="tag_body_form" class="form-inline">

					{{ form.hidden_tag() }}
					{{ form.tag_body(size=30, maxlength=160, autofocus=true) }}
			
					<button type="submit" class="btn btn-mini btn-inverse">Add</button>
					{% for error in form.errors.tag %}
						<span style="color: red;">[{{error}}]</span><br>
					{% endfor %}
					</form>
				</div>
			</div>

			<div clas="row">
				<table>
				{% for tag in user.tags_for_group(form.group_name.data) %}
					{% if tag.body != None %}
					<tr>
						<td>
							{% include 'tag_link.html' %}
						</td>
						<td>
							<a style="color: red; float:right" href="{{ url_for('remove_tag', tag_body=tag.body, group_name=form.group_name.data) }}"><div class="btn btn-mini btn-warning">x</div></a>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
				</table>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
</div>

<br style="clear:both"/>
<br>

<div class="padded">
	<form action="" method="post" name="add_group_form" class="form-inline">
	{{ group_form.hidden_tag() }}
	{{ group_form.group_name(size=30, maxlength=30, autofocus=true) }}
	<button type="submit" name="add_group_input" class="btn btn-mini btn-inverse">Add new group</button>
	{% for error in group_form.errors.tag %}
	<span style="color: red;">[{{error}}]</span><br>
	{% endfor %}
</div>






{% endblock %}