{% extends "base.html" %}

{% block content %}

<div class="padded">
{% for form in tag_forms %}
	{% include 'tag_group.html' %}
{% endfor %}
</div>

<br style="clear:both"/>
<br>

<div class="padded">
	<form action="" method="post" name="add_group_form" class="form-inline">
	{{ group_form.hidden_tag() }}
	{{ group_form.group_name(size=30, maxlength=30, autofocus=true) }}
	<button type="submit" name="add_group_input" class="btn btn-mini btn-inverse">Add new group</button>
	{% for error in group_form.errors.tag %}
		<span style="color: red;">[{{error}}]</span><br>
	{% endfor %}
</div>

{% endblock %}